@import "culori";
@import "mixinuri";
@import "footer";
@import "header";
@media (min-width: 320px) {
    body {
        margin: 0;
    }
    .container {
        margin: 0 auto;
        padding: 0 16px;
    }
    span {
        padding: 30px 40px 32px 40px;
        font-size: 18px;
        line-height: 18px;
        width: 100%;
    }
    main {
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        h1 {
            @include tipografie(100px, bold, 98px, $fottitlu);
            text-align: center;
            margin: 0;
            padding: 5px;
        }
        h2 {
            @include tipografie(60px, bold, 58px, $fottitlu);
            text-align: center;
            margin: 0;
            padding: 5px;
        }
        p {
            @include tipografie(30px, normal, 28px, $fottitlu);
            text-align: center;
            margin: 0;
            padding: 5px;
        }
    }
}