@media (min-width: 320px) {
    header {
        text-align: center;
        padding: 25px 54px;
        margin: 0;
        background-color: $backfot;
        img {
            height: auto;
            width: 211px;
        }
        a {
            display: inline-block;
        }
    }
}

@media (min-width: 1024px) {
    header {
        padding: 25px 0px 25px 40px;
        margin: 0;
        background-color: $backfot;
        justify-content: start;
        img {
            height: auto;
            width: 211px;
        }
    }
}