@import "culori";
@import "mixinuri";
@import "header";
@import "footer";
@import "main";
body {
    font-family: $font-family;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}